<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>保存用户信息</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
    <script rel="stylesheet" th:src="@{/static/js/bootstrap.min.js}"></script>
</head>
<body>
<h1>保存用户表单页面</h1>

<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Check me out
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>


<form th:action="@{(user.id != null ? '/users/edit/' + user.id : '/users/add')}" th:object="${user}" method="post">
    <label>Username:</label>
    <input type="text" th:field="*{userName}" />
    <label>Email:</label>
    <input type="text" th:field="*{email}" />
    <label>Password:</label>
    <input type="password" th:field="*{password}" />
    <button type="submit">Save</button>
</form>
<a href="/users">返回列表</a>
</body>
</html>
