<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 定义日志输出格式为 JSON 如使用ELK收集日志时使用 -->
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder">-->
<!--            &lt;!&ndash; 配置日志输出格式 &ndash;&gt;-->
<!--            <customFields>{"application": "my-application"}</customFields>-->
<!--        </encoder>-->
<!--    </appender>-->


    <!-- 定义日志输出格式 -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />



    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 设置日志级别 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
<!--    <root level="DEBUG">-->
<!--        <appender-ref ref="STDOUT" />-->
<!--    </root>-->
</configuration>
